<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Eroare ! </h1>
        <h2>Asigurati-va ca: </h2>
        <h4>-> Codul QR are urmatorul format: "id_produs cantitate" !</h4>
        <h4>-> Baza de date este functionala !</h4>
        <br /><br />
        <h3><font color="red">Code Generator</font></h3>
        <h4>-> Nu introduceti acelasi id_produs in baza de date !</h4>
        <h4>-> Cantitatea este mai mare decat 0 !</h4>
        <br /><br />
        <h3><font color="red">WebCam Scanner</font></h3>
        <h4>-> Imaginea nu este clara !</h4>
        <h4>-> Acest cod nu apare in baza de date !</h4>
    </hgroup>
</body>
</html>
